{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<style type="text/css">
		#date{
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	</style>

	<div class="card-header">
    <div class="row">
      <div class="col">
        <!-- <a role="button" href="/" class="btn btn-primary btn-sm btn-block">Back</a> -->
      </div>
      <div class="col-6">
        <h3>School Bus Application</h3>
      </div>
      <div class="col">
      	<a role="button" href='/logout/' class="btn btn-primary btn-sm btn-block">Logout</a>
      </div>
    </div>
  </div>
  <ul id="alerts" class="list-group list-group-flush text-left"></ul>
	<!-- <img class="card-img-top" style="padding:10px; background-color: rgba(0, 0, 0, 0.0);" src='{% static "bus_tracker/logo3.png" %}' alt="Card image cap"> -->
	<div class="card-body">
		<!-- <h4 class="card-title">School Bus Application</h4> -->
		<!-- <a href='/signup/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Sign Up</a>
		<a href='/login/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Login</a> -->
		<div class="btn-group" role="group" aria-label="Basic example">
		  <button id="prev-day-btn" type="button" class="btn btn-outline-primary">Prev</button>
		  <a href='/home/' class="btn btn-primary" style="width: 100%" role="button">Today</a>
		  <button id="next-day-btn" type="button" class="btn btn-outline-primary">Next</button>
		</div>
		</br>
		</br>
		<div id="date" class="row"></div>
	</div>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Status</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for d in data %}
	  		<tr>
		      <th scope="row">{{ forloop.counter }}</th>
		      <td>{{ d.0 }}</td>
		      <td>{{ d.1 }}</td>
		    </tr>
	  	{% endfor %}

	  </tbody>
	</table>

	<div class="card-footer text-muted">
    	<button id="delete_students" type="button" class="btn btn-danger btn-block">Delete all students</button>
	</div>

	<script type="text/javascript">

		$( document ).ready(function() {
			$.urlParam = function(name){
			    var results = new RegExp('[\?&]' + name + '=([^]*)').exec(window.location.href);
			    if (results==null){
			       return null;
			    }
			    else{
			       return results[1] || 0;
			    }
			}

		    $("#prev-day-btn").click(function () {
				var days_old = $.urlParam('days_old');
				if(days_old){
					days_old = parseInt(days_old) + 1;
				}
				else{
					days_old = 1
				}
				window.location.replace("/home/?days_old=" + days_old);
			});
			$("#next-day-btn").click(function () {
				var days_old = $.urlParam('days_old');
				if(days_old){
					days_old = parseInt(days_old);
					if(days_old > 0){
						days_old = days_old - 1;
						window.location.replace("/home/?days_old=" + days_old);
					}
				}
			});

			// Set Date
			function setDate(){
				var myDate = new Date();  
				var dayOfMonth = myDate.getDate();
				var days_old = $.urlParam('days_old');
				if(!days_old){ days_old = 0; }
				myDate.setDate(dayOfMonth - days_old);  
				var day = myDate.getDate();
				var month = myDate.getMonth() + 1;   // January is 0, so add 1
				var year = myDate.getFullYear();
				$('#date').empty().html('<h5>' + day + "/" + month + "/" + year + '</h5>');
			}

			setDate();

			// Check for Alert
			function checkAlert(){
				$.post( "/check_alert/", {}, function( data ) {
					console.log(data);
					if('success' in data && data['success'] && 'alerts' in data){
					  	var i, content;
					  	for(i=0; i < data['alerts'].length; i++){
					  		content = '<li class="alert alert-danger alert-dismissible fade show" role="alert">\n';
					  		content += '<div class="row">';
							content += '<div class="col-11"><strong>Alert!</strong> ' + data['alerts'][i] + '</div>';
							content += '<div class="col-1"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>\n';
							content += '</div>';
							content += '</li>\n'
							$('#alerts').prepend(content);
					  	}
					}
					else{
					  	console.log('checking alerts failed!');
					}
				});
			}

			setInterval(function(){
				checkAlert();
			}, 3000);

			// DELETE STUDENTS
			$("#delete_students").unbind().click(function () {
				var ele = $(this);
				$.post( "/delete_students/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	alert('All students information has been deleted from the application...');
						ele.prop('disabled', true);
				  }
				  else{
				  	console.log('delete students btn failed!');
				  }
				});
			  			
			  });

		});
	</script>



{% endblock %}