{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- <a href='/settings/'>Settings</a>
<a href='/account/'>Account</a>
<a href='/report/'>Report</a>
<a href='/food_database/'>Food Database</a>
<a href='/logout/'>Logout</a> -->
<style type="text/css">
	#map {
	  height: 70vh;
	  width: 100vw;
	  margin: 0px;
	  padding: 0px;
	}
</style>

<!-- <a class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Settings</a>
<a class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Account</a> -->
<!-- <a href='/report/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Report</a>
<a href='/food_database/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Food Database</a> -->


<div class="card-header">
    <div class="row">
      <div class="col-3">
        <!-- <a role="button" href="/" class="btn btn-primary btn-sm btn-block">Back</a> -->
      </div>
      <div class="col-6">
        <h5>School Bus Application</h5>
      </div>
      <div class="col-3">
      	<a role="button" href='/logout/' class="btn btn-primary btn-sm btn-block">Logout</a>
      </div>
    </div>
  </div>
<ul id="alerts" class="list-group list-group-flush text-left"></ul>
<div class="card-img-top" id="map"></div>
<!-- <div class="card-body">
	<div>Time left = <span id="timer"></span></div>
	<div id="info_and_control">
		<div id="total_time"></div>
		<div id="total_distance"></div>
		<input type="checkbox" data-toggle="toggle" data-on="Going" data-off="Not Going" data-onstyle="success" data-offstyle="danger" data-size="large">
	</div>
</div> -->
<ul class="list-group list-group-flush">
	<li class="list-group-item">Distance Remaining: <span id="total_distance"></span></li>
    <li class="list-group-item">Time Remaining: <span id="total_time"></span></li>
    <li id="control-btn-place" class="list-group-item">

    </li>
  </ul>





<!-- <a href='/logout/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Logout</a> -->




<script type="text/javascript">

function initAll(){

	var locations = [];
	var student_username = "{{student_username}}";

	var geocoder;
	var map;
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var distanceService = new google.maps.DistanceMatrixService();
	var locations = [
	  ['Maroubra Beach', 25.315695, 51.444253, 1],
	  ['Manly Beach', 25.317709, 51.473252, 2],
	  ['Cronulla Beach', 25.288843, 51.485483, 3],
	  ['Bondi Beach', 25.264938, 51.464412, 4],
	];
	var all_markers = [];
	var waypoint_order = [];

	function initialize() {

	  var student_going;
	  var student_picked;
	  var i;
	  for(i=0; i < locations.length; i++){
	  	if(locations[i][0] == student_username){
	  		student_going = locations[i][4];
	  		student_picked = locations[i][5];
	  	}
	  }

	  if(student_going){
	  	if(student_picked){
	  		$("#control-btn-place").html('<button id="not-gonna-go-btn" type="button" class="btn btn-danger btn-block">I will not go to school today</button>');
	  		$("#not-gonna-go-btn").unbind().click(function () {
	  			var ele = $(this);
	  			$.post( "/not_gonna_go_to_school/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	alert('You chose not to go to school today. Please wait 10 seconds for app to refresh...');
	  				ele.prop('disabled', true);
				  }
				  else{
				  	console.log('Not gonna go to school btn failed!');
				  }
				});
	  			
	  		});
	  	}
	  	else{
	  		$("#control-btn-place").html('<button type="button" class="btn btn-success btn-block" disabled>Already on my way to school!</button>');
	  	}
	  }
	  else{
	  	$("#control-btn-place").html('<button id="gonna-go-btn" type="button" class="btn btn-primary btn-block">I will go to school today</button>');
	  	$("#gonna-go-btn").unbind().click(function () {
	  			var ele = $(this);
	  			$.post( "/gonna_go_to_school/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	alert('You chose to go to school today. Please wait 10 seconds for app to refresh...');
	  				ele.prop('disabled', true);
				  }
				  else{
				  	console.log('Not gonna go to school btn failed!');
				  }
				});
	  		});
	  }
	  
	  directionsDisplay = new google.maps.DirectionsRenderer({
	  	suppressMarkers: true
	  });


	  map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 10,
	    center: new google.maps.LatLng(29.302160, 47.989640),
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  });

	  directionsDisplay.setMap(map);

	  $("#total_distance").empty();
	  $("#total_time").empty();

	  if(student_going && student_picked){

	  	  
		  var infowindow = new google.maps.InfoWindow();

		  var marker, i;
		  var request = {
		    travelMode: google.maps.TravelMode.DRIVING,
		    optimizeWaypoints:true
		  };

		  var found_cur_student = false;
		  for (i = 0; i < locations.length; i++) {

		  	if (i==0) var image = '{% static "bus_tracker/bus_icon3.png" %}';
		  	else var image = '{% static "bus_tracker/student_icon2.png" %}';

		  	// var image = {
			  //   url: 'https://image.flaticon.com/icons/png/128/0/622.png',
			  //   // This marker is 20 pixels wide by 32 pixels high.
			  //   size: new google.maps.Size(20, 32),
			  //   // The origin for this image is (0, 0).
			  //   origin: new google.maps.Point(0, 0),
			  //   // The anchor for this image is the base of the flagpole at (0, 32).
			  //   anchor: new google.maps.Point(0, 32)
			  // };

		  	marker = new google.maps.Marker({
		      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
		      icon: image
		    });

		    all_markers.push(marker);

		  	if((i == 0) || (locations[i][0] == student_username)){
		  		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			      return function() {
			        infowindow.setContent(locations[i][0]);
			        infowindow.open(map, marker);
			      }
			    })(marker, i));
			    marker.setMap(map);
		  	}
		    
		    // if (i == 0) request.origin = marker.getPosition();
		    // else if (locations[i][0] == student_username){
		    // 	found_cur_student = true;
		    // 	request.destination = marker.getPosition();
		    // }
		    // else if (!found_cur_student){
		    // 	if (!request.waypoints) request.waypoints = [];
		    //   request.waypoints.push({
		    //     location: marker.getPosition(),
		    //     stopover: true
		    //   });
		    // }
		    // 
		    if (i == 0) request.origin = marker.getPosition();
		    else if (i == locations.length - 1) request.destination = marker.getPosition();
		    else {
		      if (!request.waypoints) request.waypoints = [];
		      request.waypoints.push({
		        location: marker.getPosition(),
		        stopover: true
		      });
		    }



		    
		    // else if (i == locations.length - 1) request.destination = marker.getPosition();
		    // else {
		      
		    // }

		  }
		  directionsService.route(request, function(result, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      // directionsDisplay.setDirections(result);
		      // console.log(result['routes'][0]['legs'])
		      // var route = result['routes'][0]['legs'];
		      // waypoint_order = result['routes'][0]['waypoint_order'];
		      // var total_distance = 0.0
		      // var total_time = 0.0
		      // var i;
		      // for(i=0; i<route.length; i++){
		      // 	total_distance += route[i]['distance']['value']
		      // 	total_time += route[i]['duration']['value']
		      // }
		      // $("#total_distance").text((total_distance / 1000) + " km");
		      // $("#total_time").text((total_time / 60) + " min");
		      console.log(result);
		      waypoint_order = result['routes'][0]['waypoint_order'];
		      var route = result['routes'][0]['legs'];
			  var total_distance = 0.0;
			  var total_time = 0.0;
			  var found = false;
			  var found_idx = -1;
			  var keep_waypoints = [];
			  var i;
			  for(i=0; i<waypoint_order.length; i++){
			  	if(!found){
			  		var path = route[i];
			  		total_distance += path['distance'].value;
		  			total_time += path['duration'].value;
		  			if(locations[waypoint_order[i]+1][0] == student_username){
		  				found = true;
		  				found_idx = i;
		  			}
		  			else{
		  				keep_waypoints.push(waypoint_order[i]);
		  			}
			  	}
			  	// var path = route[i];
			  	// var idx = "#dist_mat_" + (waypoint_order[i] + 1);
		  		// console.log(idx);
		  		// total_distance += path['distance'].value;
		  		// total_time += path['duration'].value;
		  		// $(idx).append('<div class="row">'+(total_distance/1000).toFixed(2)+' km</div>');
		  		// $(idx).append('<div class="row">'+(total_time/60).toFixed(2)+' min</div>');
		  		// console.log($(idx));
			  }
			  $("#total_distance").text((total_distance / 1000).toFixed(2) + " km");
		      $("#total_time").text((total_time / 60).toFixed(2) + " min");

		      var request = result['request'];
		      request['destination'] = request['waypoints'][waypoint_order[found_idx]]['location'];
		      var req_waypoints = request['waypoints']
		      var new_req_waypoints = [];
		      for(x in keep_waypoints){
		      	new_req_waypoints.push(req_waypoints[x]);
		      }
		      request['waypoints'] = new_req_waypoints;

		      directionsService.route(request, function(result, status) {
		      	if (status == google.maps.DirectionsStatus.OK) {
		      		directionsDisplay.setDirections(result);
		      	}
		      });

		    }
		  });

	  }

	}

	function initialize2() {

	  var student_going;
	  var student_picked;
	  var i;
	  for(i=0; i < locations.length; i++){
	  	if(locations[i][0] == student_username){
	  		student_going = locations[i][4];
	  		student_picked = locations[i][5];
	  	}
	  }

	  if(student_going){
	  	if(student_picked){
	  		$("#control-btn-place").html('<button id="not-gonna-go-btn" type="button" class="btn btn-danger btn-block">I will not go to school today</button>');
	  		$("#not-gonna-go-btn").unbind().click(function () {
	  			var ele = $(this);
	  			$.post( "/not_gonna_go_to_school/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	alert('You chose not to go to school today. Please wait 10 seconds for app to refresh...');
	  				ele.prop('disabled', true);
				  }
				  else{
				  	console.log('Not gonna go to school btn failed!');
				  }
				});
	  			
	  		});
	  	}
	  	else{
	  		$("#control-btn-place").html('<button type="button" class="btn btn-success btn-block" disabled>Already on my way to school!</button>');
	  	}
	  }
	  else{
	  	$("#control-btn-place").html('<button id="gonna-go-btn" type="button" class="btn btn-primary btn-block">I will go to school today</button>');
	  	$("#gonna-go-btn").unbind().click(function () {
	  			var ele = $(this);
	  			$.post( "/gonna_go_to_school/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	alert('You chose to go to school today. Please wait 10 seconds for app to refresh...');
	  				ele.prop('disabled', true);
				  }
				  else{
				  	console.log('Not gonna go to school btn failed!');
				  }
				});
	  		});
	  }

  	  directionsDisplay.setDirections({routes: []});
	  all_markers.map(x => x.setMap(null));
	  all_markers = [];

	  $("#total_distance").empty();
	  $("#total_time").empty();

	  if(student_going && student_picked){

	  	  

		  var infowindow = new google.maps.InfoWindow();

		  var marker, i;
		  var request = {
		    travelMode: google.maps.TravelMode.DRIVING,
		    optimizeWaypoints:true
		  };

		  var found_cur_student = false;
		  for (i = 0; i < locations.length; i++) {

		  	if (i==0) var image = '{% static "bus_tracker/bus_icon3.png" %}';
		  	else var image = '{% static "bus_tracker/student_icon2.png" %}';

		  	// var image = {
			  //   url: 'https://image.flaticon.com/icons/png/128/0/622.png',
			  //   // This marker is 20 pixels wide by 32 pixels high.
			  //   size: new google.maps.Size(20, 32),
			  //   // The origin for this image is (0, 0).
			  //   origin: new google.maps.Point(0, 0),
			  //   // The anchor for this image is the base of the flagpole at (0, 32).
			  //   anchor: new google.maps.Point(0, 32)
			  // };

		  	marker = new google.maps.Marker({
		      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
		      icon: image
		    });

		    all_markers.push(marker);

		  	if((i == 0) || (locations[i][0] == student_username)){
		  		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			      return function() {
			        infowindow.setContent(locations[i][0]);
			        infowindow.open(map, marker);
			      }
			    })(marker, i));
			    marker.setMap(map);
		  	}
		    
		    // if (i == 0) request.origin = marker.getPosition();
		    // else if (locations[i][0] == student_username){
		    // 	found_cur_student = true;
		    // 	request.destination = marker.getPosition();
		    // }
		    // else if (!found_cur_student){
		    // 	if (!request.waypoints) request.waypoints = [];
		    //   request.waypoints.push({
		    //     location: marker.getPosition(),
		    //     stopover: true
		    //   });
		    // }

		    if (i == 0) request.origin = marker.getPosition();
		    else if (i == locations.length - 1) request.destination = marker.getPosition();
		    else {
		      if (!request.waypoints) request.waypoints = [];
		      request.waypoints.push({
		        location: marker.getPosition(),
		        stopover: true
		      });
		    }


		    
		    // else if (i == locations.length - 1) request.destination = marker.getPosition();
		    // else {
		      
		    // }

		  }
		  directionsService.route(request, function(result, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      // directionsDisplay.setDirections(result);
		      // console.log(result['routes'][0]['legs'])
		      // var route = result['routes'][0]['legs'];
		      // waypoint_order = result['routes'][0]['waypoint_order'];
		      // var total_distance = 0.0
		      // var total_time = 0.0
		      // var i;
		      // for(i=0; i<route.length; i++){
		      // 	total_distance += route[i]['distance']['value']
		      // 	total_time += route[i]['duration']['value']
		      // }
		      // $("#total_distance").text((total_distance / 1000) + " km");
		      // $("#total_time").text((total_time / 60) + " min");
		      console.log(result);
		      waypoint_order = result['routes'][0]['waypoint_order'];
		      var route = result['routes'][0]['legs'];
			  var total_distance = 0.0;
			  var total_time = 0.0;
			  var found = false;
			  var found_idx = -1;
			  var keep_waypoints = [];
			  var i;
			  for(i=0; i<waypoint_order.length; i++){
			  	if(!found){
			  		var path = route[i];
			  		total_distance += path['distance'].value;
		  			total_time += path['duration'].value;
		  			if(locations[waypoint_order[i]+1][0] == student_username){
		  				found = true;
		  				found_idx = i;
		  			}
		  			else{
		  				keep_waypoints.push(waypoint_order[i]);
		  			}
			  	}
			  	// var path = route[i];
			  	// var idx = "#dist_mat_" + (waypoint_order[i] + 1);
		  		// console.log(idx);
		  		// total_distance += path['distance'].value;
		  		// total_time += path['duration'].value;
		  		// $(idx).append('<div class="row">'+(total_distance/1000).toFixed(2)+' km</div>');
		  		// $(idx).append('<div class="row">'+(total_time/60).toFixed(2)+' min</div>');
		  		// console.log($(idx));
			  }
			  $("#total_distance").text((total_distance / 1000).toFixed(2) + " km");
		      $("#total_time").text((total_time / 60).toFixed(2) + " min");

		      var request = result['request'];
		      request['destination'] = request['waypoints'][waypoint_order[found_idx]]['location'];
		      var req_waypoints = request['waypoints']
		      var new_req_waypoints = [];
		      for(x in keep_waypoints){
		      	new_req_waypoints.push(req_waypoints[x]);
		      }
		      request['waypoints'] = new_req_waypoints;

		      directionsService.route(request, function(result, status) {
		      	if (status == google.maps.DirectionsStatus.OK) {
		      		directionsDisplay.setDirections(result);
		      	}
		      });

		    }
		  });


	  }
	  
	}

	function load_locations(callback_func){
		$.post( "/load_locations/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	locations = data['locations'];
				  	callback_func(data);
				  }
				});
	}

	function callback1(data){
		initialize();
		// google.maps.event.addDomListener(window, "load", initialize);
	  	// var i;
	  	// for(i=1; i < data['locations'].length; i++){
	  	// 	if(data['locations'][i][0] != 'school'){

	  	// 		res = '<li class="list-group-item">\n';
				// res += '<div class="row"><div class="col">\n'
				// res += data['locations'][i][0]
				// res += '</div>\n'
				// res += '<div id="dist_mat_'+ i +'" class="col">\n'
				// res += '</div>\n'
				// res += '<div class="col">\n'
				// res += '<button type="button" swb_id="'+ data['locations'][i][0] +'" class="btn btn-primary btn-sm start_waiting">Reached</button>\n'
				// res += '</div>\n'
				// res += '<div class="col">\n'
				// res += '<input type="checkbox" data-toggle="toggle" data-on="Picked" data-off="Pick" data-onstyle="success" data-offstyle="danger" data-size="small">\n'
				// res += '</div></div>\n'
				// res += '</li>\n'
		  // 		//$("#info_and_control").append(res);
	  	// 	}


	  	// }

	 //  	var all_locations = [];
	 //  	for(i=0; i < data['locations'].length; i++){
		// 	var geo_coords = new google.maps.LatLng(data['locations'][i][1], data['locations'][i][2]);
		//   	all_locations.push(geo_coords);
	 //  	}

	 //  	distanceService.getDistanceMatrix(
		//   {
		//     origins: all_locations,
		//     destinations: all_locations,
		//     travelMode: 'DRIVING',
		//   }, function(data){
		//   	console.log(data);
		//   	var matrix = data['rows']
		//   	var i;
		//   	for(i=0; i<matrix.length-1; i++){
		//   		console.log(matrix[i]['elements'][i+1]);
		//   		var info = matrix[i]['elements'][i+1];
		//   		var idx = "#dist_mat_" + (i+1);
		//   		console.log(idx);
		//   		$(idx).append('<div class="row">'+info['distance'].text+'</div>');
		//   		$(idx).append('<div class="row">'+info['duration'].text+'</div>');
		//   		console.log($(idx));
		//   	}


		// });
	}

	function callback2(data){
		initialize2();
	}

	load_locations(callback1);


	// document.getElementById('timer').innerHTML =
	//   03 + ":" + 00;
	// startTimer();

	// function startTimer() {
	//   var presentTime = document.getElementById('timer').innerHTML;
	//   var timeArray = presentTime.split(/[:]+/);
	//   var m = timeArray[0];
	//   var s = checkSecond((timeArray[1] - 1));
	//   if(s==59){m=m-1}
	//   //if(m<0){alert('timer completed')}
	  
	//   document.getElementById('timer').innerHTML =
	//     m + ":" + s;
	//   setTimeout(startTimer, 1000);
	// }

	// function checkSecond(sec) {
	//   if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
	//   if (sec < 0) {sec = "59"};
	//   return sec;
	// }


	//LOCATION UPDATE
	
	function getLocation() {
    	if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(showPosition);
	    } else {
	        console.log("Geolocation is not supported by this browser.");
	    }
	}
	function showPosition(position) {
	    console.log("Latitude: " + position.coords.latitude + 
	    "<br>Longitude: " + position.coords.longitude); 
	    $.post( "/update_locations/", {'longitude': position.coords.longitude, 'latitude': position.coords.latitude}, function( data ) {
	    	console.log(data);
		});
	}

	setInterval(function(){
		getLocation();
	}, 10000);

	setInterval(function(){
	
		load_locations(callback2);

	}, 10000);

	// Check for Alert
	function checkAlert(){
		$.post( "/check_alert/", {}, function( data ) {
			console.log(data);
			if('success' in data && data['success'] && 'alerts' in data){
			  	var i, content;
			  	for(i=0; i < data['alerts'].length; i++){
			  		content = '<li class="alert alert-danger alert-dismissible fade show" role="alert">\n';
			  		content += '<div class="row">';
					content += '<div class="col-11"><strong>Alert!</strong> ' + data['alerts'][i] + '</div>';
					content += '<div class="col-1"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>\n';
					content += '</div>';
					content += '</li>\n'
					$('#alerts').prepend(content);
			  	}
			}
			else{
			  	console.log('checking alerts failed!');
			}
		});
	}

	setInterval(function(){
		checkAlert();
	}, 3000);

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpRIKS8QnytnGPopeZi3xgbz-bwNau4S0&callback=initAll" async defer></script>

{% endblock %}