{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- <a href='/settings/'>Settings</a>
<a href='/account/'>Account</a>
<a href='/report/'>Report</a>
<a href='/food_database/'>Food Database</a>
<a href='/logout/'>Logout</a> -->
<style type="text/css">
	#map {
	  height: 70vh;
	  width: 100vw;
	  margin: 0px;
	  padding: 0px;
	}
</style>

<!-- <a class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Settings</a>
<a class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Account</a> -->
<!-- <a href='/report/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Report</a>
<a href='/food_database/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Food Database</a> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpRIKS8QnytnGPopeZi3xgbz-bwNau4S0"></script>


<div class="card-header">
    <div class="row">
      <div class="col">
        <!-- <a role="button" href="/" class="btn btn-primary btn-sm btn-block">Back</a> -->
      </div>
      <div class="col-6">
        <h5>School Bus Application</h5>
      </div>
      <div class="col">
      	<a role="button" href='/logout/' class="btn btn-primary btn-sm btn-block">Logout</a>
      </div>
    </div>
  </div>
<div class="card-img-top" id="map"></div>
<!-- <div class="card-body">
	<div>Time left = <span id="timer"></span></div>
	<ul  class="list-group">
		
	</ul>
</div> -->
<ul id="students" class="list-group list-group-flush">

</ul>





<a href='/logout/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Logout</a>




<script type="text/javascript">

	var locations = [];

	

	var geocoder;
	var map;
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var distanceService = new google.maps.DistanceMatrixService();
	var locations = [
	  ['Maroubra Beach', 25.315695, 51.444253, 1],
	  ['Manly Beach', 25.317709, 51.473252, 2],
	  ['Cronulla Beach', 25.288843, 51.485483, 3],
	  ['Bondi Beach', 25.264938, 51.464412, 4],
	];
	var waypoint_order = [];
	var all_markers = [];

	function initialize() {
	  
	  directionsDisplay = new google.maps.DirectionsRenderer({
	  	suppressMarkers: true
	  });


	  map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 10,
	    center: new google.maps.LatLng(25.293369, 51.487253),
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  });
	  directionsDisplay.setMap(map);
	  var infowindow = new google.maps.InfoWindow();

	  var marker, i;
	  var request = {
	    travelMode: google.maps.TravelMode.DRIVING,
	    optimizeWaypoints:true
	  };
	  for (i = 0; i < locations.length; i++) {

	  	if (i==0) var image = '{% static "bus_tracker/bus_icon3.png" %}';
	  	else if (i == (locations.length-1) ) var image = '{% static "bus_tracker/school_icon.png" %}';
	  	else var image = '{% static "bus_tracker/student_icon2.png" %}';

	    marker = new google.maps.Marker({
	      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	      icon: image
	    });

	    google.maps.event.addListener(marker, 'click', (function(marker, i) {
	      return function() {
	        infowindow.setContent(locations[i][0]);
	        infowindow.open(map, marker);
	      }
	    })(marker, i));
	    marker.setMap(map);
	    all_markers.push(marker);

	    if (i == 0) request.origin = marker.getPosition();
	    else if (i == locations.length - 1) request.destination = marker.getPosition();
	    else {
	      if (!request.waypoints) request.waypoints = [];
	      request.waypoints.push({
	        location: marker.getPosition(),
	        stopover: true
	      });
	    }

	  }
	  directionsService.route(request, function(result, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(result);
	      console.log(result);
	      waypoint_order = result['routes'][0]['waypoint_order'];
	   //    console.log('ergbhregiuhwngujrwgwrgf');
	   //    console.log(waypoint_order);
		  // waypoint_order = waypoint_order.map(x => x+1);
		  // waypoint_order.unshift(0);
		  // waypoint_order.push(waypoint_order.length);
		  // console.log("FUIHEIUHFEIFEF");
		  // console.log(waypoint_order);
		  var route = result['routes'][0]['legs'];
		  var total_distance = 0.0;
		  var total_time = 0.0;
		  var i;
		  for(i=0; i<waypoint_order.length; i++){
		  	var path = route[i];
		  	var idx = "#dist_mat_" + (waypoint_order[i] + 1);
	  		console.log(idx);
	  		total_distance += path['distance'].value;
	  		total_time += path['duration'].value;
	  		$(idx).append('<div class="row">'+(total_distance/1000).toFixed(2)+' km</div>');
	  		$(idx).append('<div class="row">'+(total_time/60).toFixed(2)+' min</div>');
	  		console.log($(idx));
		  }
	    }
	  });
	}

	function initialize2() {
	  
	  directionsDisplay.setDirections({routes: []});
	  all_markers.map(x => x.setMap(null));
	  all_markers = [];



	  var infowindow = new google.maps.InfoWindow();

	  var marker, i;
	  var request = {
	    travelMode: google.maps.TravelMode.DRIVING,
	    optimizeWaypoints:true
	  };
	  for (i = 0; i < locations.length; i++) {

	  	if (i==0) var image = '{% static "bus_tracker/bus_icon3.png" %}';
	  	else if (i == (locations.length-1) ) var image = '{% static "bus_tracker/school_icon.png" %}';
	  	else var image = '{% static "bus_tracker/student_icon2.png" %}';

	    marker = new google.maps.Marker({
	      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	      icon: image
	    });

	    google.maps.event.addListener(marker, 'click', (function(marker, i) {
	      return function() {
	        infowindow.setContent(locations[i][0]);
	        infowindow.open(map, marker);
	      }
	    })(marker, i));
	    marker.setMap(map);
	    all_markers.push(marker);

	    if (i == 0) request.origin = marker.getPosition();
	    else if (i == locations.length - 1) request.destination = marker.getPosition();
	    else {
	      if (!request.waypoints) request.waypoints = [];
	      request.waypoints.push({
	        location: marker.getPosition(),
	        stopover: true
	      });
	    }

	  }
	  directionsService.route(request, function(result, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(result);
	      console.log(result);
	      waypoint_order = result['routes'][0]['waypoint_order'];
	   //    console.log('ergbhregiuhwngujrwgwrgf');
	   //    console.log(waypoint_order);
		  // waypoint_order = waypoint_order.map(x => x+1);
		  // waypoint_order.unshift(0);
		  // waypoint_order.push(waypoint_order.length);
		  // console.log("FUIHEIUHFEIFEF");
		  // console.log(waypoint_order);
		  var route = result['routes'][0]['legs'];
		  var total_distance = 0.0;
		  var total_time = 0.0;
		  var i;
		  for(i=0; i<waypoint_order.length; i++){
		  	var path = route[i];
		  	var idx = "#dist_mat_" + (waypoint_order[i] + 1);
	  		console.log(idx);
	  		total_distance += path['distance'].value;
	  		total_time += path['duration'].value;
	  		$(idx).append('<div class="row">'+(total_distance/1000).toFixed(2)+' km</div>');
	  		$(idx).append('<div class="row">'+(total_time/60).toFixed(2)+' min</div>');
	  		console.log($(idx));
		  }
	    }
	  });
	}

	function load_locations(callback_func){
		$.post( "/load_locations/", {}, function( data ) {
			  	  console.log(data);
				  if('success' in data && data['success']){
				  	locations = data['locations'];
				  	callback_func(data);
				  }
				});
	}

	function callback1(data){
		google.maps.event.addDomListener(window, "load", initialize);
	  	$("#students").empty();
	  	var i;
	  	for(i=1; i < data['locations'].length; i++){
	  		if(data['locations'][i][0] != 'school'){

	  			res = '<li class="list-group-item">\n';
				res += '<div class="row"><div class="col">\n'
				res += data['locations'][i][0]
				res += '</div>\n'
				res += '<div id="dist_mat_'+ i +'" class="col">\n'
				res += '</div>\n'
				res += '<div class="col">\n'
				res += '<button type="button" swb_id="'+ data['locations'][i][0] +'" class="btn btn-primary btn-sm start_waiting">Reached</button>\n'
				res += '</div>\n'
				res += '<div class="col">\n'
				res += '<input type="checkbox" data-toggle="toggle" data-on="Picked" data-off="Pick" data-onstyle="success" data-offstyle="danger" data-size="small">\n'
				res += '</div></div>\n'
				res += '</li>\n'
		  		$("#students").append(res);

	  		}
	  	}


	  // 	var all_locations = [];
	  // 	for(i=0; i < data['locations'].length; i++){
			// var geo_coords = new google.maps.LatLng(data['locations'][i][1], data['locations'][i][2]);
		 //  	all_locations.push(geo_coords);
	  // 	}

	 //  	distanceService.getDistanceMatrix(
		//   {
		//     origins: all_locations,
		//     destinations: all_locations,
		//     travelMode: 'DRIVING',
		//   }, function(data){
		//   	console.log(data);
		//   	var matrix = data['rows']
		//   	console.log(waypoint_order);
		//   	waypoint_order = waypoint_order.map(x => x+1);
		//   	waypoint_order.unshift(0);
		//   	waypoint_order.push(waypoint_order.length);
		//   	console.log("FUIHEIUHFEIFEF");
		//   	console.log(waypoint_order);
		//   	var i;
		//   	for(i=0; i<matrix.length-1; i++){
		//   		var origin = waypoint_order[i]
		//   		var destination = waypoint_order[i+1]
		//   		console.log(matrix[origin]['elements'][destination]);
		//   		var info = matrix[origin]['elements'][destination];
		//   		var idx = "#dist_mat_" + (i+1);
		//   		console.log(idx);
		//   		$(idx).append('<div class="row">'+info['distance'].text+'</div>');
		//   		$(idx).append('<div class="row">'+info['duration'].text+'</div>');
		//   		console.log($(idx));
		//   	}


		// });
	}

	function callback2(data){
		initialize2();
	  	$("#students").empty();
	  	var i;
	  	for(i=1; i < data['locations'].length; i++){
	  		if(data['locations'][i][0] != 'school'){

	  			res = '<li class="list-group-item">\n';
				res += '<div class="row"><div class="col">\n'
				res += data['locations'][i][0]
				res += '</div>\n'
				res += '<div id="dist_mat_'+ i +'" class="col">\n'
				res += '</div>\n'
				res += '<div class="col">\n'
				res += '<button type="button" swb_id="'+ data['locations'][i][0] +'" class="btn btn-primary btn-sm start_waiting">Reached</button>\n'
				res += '</div>\n'
				res += '<div class="col">\n'
				res += '<input type="checkbox" data-toggle="toggle" data-on="Picked" data-off="Pick" data-onstyle="success" data-offstyle="danger" data-size="small">\n'
				res += '</div></div>\n'
				res += '</li>\n'
		  		$("#students").append(res);

	  		}
	  	}
	  }

	load_locations(callback1);


	// document.getElementById('timer').innerHTML =
	//   03 + ":" + 00;
	// startTimer();

	// function startTimer() {
	//   var presentTime = document.getElementById('timer').innerHTML;
	//   var timeArray = presentTime.split(/[:]+/);
	//   var m = timeArray[0];
	//   var s = checkSecond((timeArray[1] - 1));
	//   if(s==59){m=m-1}
	//   //if(m<0){alert('timer completed')}
	  
	//   document.getElementById('timer').innerHTML =
	//     m + ":" + s;
	//   setTimeout(startTimer, 1000);
	// }

	// function checkSecond(sec) {
	//   if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
	//   if (sec < 0) {sec = "59"};
	//   return sec;
	// }


	//LOCATION UPDATE
	
	function getLocation() {
    	if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(showPosition);
	    } else {
	        console.log("Geolocation is not supported by this browser.");
	    }
	}
	function showPosition(position) {
	    console.log("Latitude: " + position.coords.latitude + 
	    "<br>Longitude: " + position.coords.longitude); 
	    $.post( "/update_locations/", {'longitude': position.coords.longitude, 'latitude': position.coords.latitude}, function( data ) {
	    	console.log(data);
		});
	}

	setInterval(function(){
		getLocation();
	}, 10000);

	setInterval(function(){
		load_locations(callback2);
	}, 10000)

	



	
</script>

{% endblock %}