{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<!-- <a href='/signup/'> </a>
<a href='/login/'>Login </a> -->

<!-- <div class="row text-center" style="width: 100%; display:flex; align-items:center;"> -->
  
<!-- </div> -->
<!-- <div class="row text-center" style="width: 100%; display:flex; align-items:center;"> -->
  
<!-- </div> -->
	<style type="text/css">
		body{
			align-items:center;
		}
	</style>
	<div class="card-header">
    <div class="row">
      <div class="col">
        <!-- <a role="button" href="/" class="btn btn-primary btn-sm btn-block">Back</a> -->
      </div>
      <div class="col-6">
        <h3>School Bus Application</h3>
      </div>
      <div class="col"></div>
    </div>
  </div>
	<img class="card-img-top" style="padding:10px; background-color: rgba(0, 0, 0, 0.0);" src='{% static "bus_tracker/logo3.png" %}' alt="Card image cap">
	<div class="card-body">
		<!-- <h4 class="card-title">School Bus Application</h4> -->
		<a href='/signup/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Sign Up</a>
		<a href='/login/' class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Login</a>
	</div>



{% endblock %}
