{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
	
  <img class="card-img-top" style="padding:10px; background-color: rgba(0, 0, 0, 0.0);" src='{% static "bus_tracker/logo3.png" %}' alt="Card image cap">
	<div class="card-body">
		<h4 class="card-title">Login Form</h4>
		<form method="post">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <!-- <button type="submit">Login</button> -->
		    <button type="submit" class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Login</button>
		  </form>
	</div>

  
{% endblock %}