{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
  #map {
    height: 50vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
  }

  #id_geo_long{
    display: none;
  }

  #id_geo_lat{
    display: none;
  }

  label[for="id_geo_long"]
  {
      display:none;
  }

  label[for="id_geo_lat"]
  {
      display:none;
  }

</style>

  <!-- <img class="card-img-top" style="padding:10px; background-color: rgba(0, 0, 0, 0.0);" src='{% static "bus_tracker/logo3.png" %}' alt="Card image cap"> -->
  <div class="card-header">
    <div class="row">
      <div class="col">
        <a role="button" href="/" class="btn btn-primary btn-sm btn-block">Back</a>
      </div>
      <div class="col-6">
        <h5>Sign Up Form</h5>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="card-img-top" id="map"></div>
  Please select your location on the map
  <div class="card-body" style="width: 100vw">
    
    
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          <!-- {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %} -->
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <!-- <button type="submit">Sign up</button> -->
      <button type="submit" class="btn btn-primary btn-lg active" style="width: 100%" role="button" aria-pressed="true">Sign Up</button>
    </form>
  </div>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpRIKS8QnytnGPopeZi3xgbz-bwNau4S0"></script>
  <script type="text/javascript">
    //map.js
     
    //Set up some of our variables.
    var map; //Will contain map object.
    var marker = false; ////Has the user plotted their location marker? 
            
    //Function called to initialize / create the map.
    //This is called when the page has loaded.
    function initMap() {
     
        //The center location of our map.
        var centerOfMap = new google.maps.LatLng(25.270301, 51.501634);
     
        //Map options.
        var options = {
          center: centerOfMap, //Set center.
          zoom: 11 //The zoom value.
        };
     
        //Create the map object.
        map = new google.maps.Map(document.getElementById('map'), options);
     
        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function(event) {                
            //Get the location that the user clicked.
            var clickedLocation = event.latLng;
            //If the marker hasn't been added.
            if(marker === false){
                //Create the marker.
                marker = new google.maps.Marker({
                    position: clickedLocation,
                    map: map,
                    draggable: true //make it draggable
                });
                //Listen for drag events!
                google.maps.event.addListener(marker, 'dragend', function(event){
                    markerLocation();
                });
            } else{
                //Marker has already been added, so just change its location.
                marker.setPosition(clickedLocation);
            }
            //Get the marker's location.
            markerLocation();
        });
    }
            
    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation(){
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        // document.getElementById('lat').value = currentLocation.lat(); //latitude
        // document.getElementById('lng').value = currentLocation.lng(); //longitude
        console.log(currentLocation.lat());
        console.log(currentLocation.lng());
        $("#id_geo_long").val(currentLocation.lng());
        $("#id_geo_lat").val(currentLocation.lat());
    }
            
            
    //Load the map when the page has finished loading.
    google.maps.event.addDomListener(window, 'load', initMap);
  </script>

  
{% endblock %}